absl-py==1.4.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
black==21.4b2
brotlipy==0.7.0
cachetools==5.3.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
cloudpickle==2.2.1
cmake==3.26.1
contourpy==1.0.7
cPython==0.0.6
cryptography @ file:///croot/cryptography_1677533068310/work
cycler==0.11.0
Cython @ file:///croot/cython_1676568029361/work
# Editable install with no version control (detectron2==0.6+cu111)
-e /home/twilight/miniconda3/envs/OV/lib/python3.8/site-packages
einops==0.6.0
filelock @ file:///croot/filelock_1672387128942/work
fire==0.5.0
fonttools==4.39.3
ftfy==6.1.1
future==0.18.3
fvcore==0.1.5.post20221221
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-auth==2.17.3
google-auth-oauthlib==1.0.0
grpcio==1.54.0
huggingface-hub==0.13.3
hydra-core==1.3.2
idna @ file:///croot/idna_1666125576474/work
imageio==2.27.0
importlib-metadata==6.1.0
importlib-resources==5.12.0
intel-openmp==2021.3.0
iopath==0.1.9
Jinja2 @ file:///croot/jinja2_1666908132255/work
kiwisolver==1.4.4
lazy-loader==0.2
lit==16.0.0
llvmlite==0.39.1
Markdown==3.4.3
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
-e git+https://github.com/facebookresearch/omni3d.git@def2d742e7d31f3504b8c3d483698faf18b00c05#egg=maskrcnn_benchmark
matplotlib==3.7.1
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mock==5.0.1
mpmath==1.2.1
mypy-extensions==1.0.0
networkx @ file:///croot/networkx_1678964333703/work
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
opencv-python==4.7.0.72
packaging==23.0
pandas==1.2.3
pathspec==0.11.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
Pillow==9.4.0
platformdirs==3.2.0
portalocker==2.7.0
prettytable==3.6.0
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydot==1.4.2
pymongo==3.12.0
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.0.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
-e git+https://github.com/facebookresearch/pytorch3d.git@7aeedd17a4140eef139987e946a7017df7a97433#egg=pytorch3d
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyWavelets==1.4.1
PyYAML==6.0
regex==2023.3.23
requests @ file:///croot/requests_1678709721434/work
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.20.0
scipy @ file:///opt/conda/conda-bld/scipy_1661390393401/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
shapely==2.0.1
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
statsmodels @ file:///croot/statsmodels_1676643798791/work
sympy @ file:///croot/sympy_1668202399572/work
tabulate==0.9.0
tbb==2021.3.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
termcolor==2.2.0
tifffile==2023.3.21
timm==0.6.13
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
torch==1.9.0+cu111
torchvision==0.10.0+cu111
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827257044/work
tqdm==4.65.0
transformers==4.28.1
triton==2.0.0
typing-extensions @ file:///croot/typing_extensions_1681939499988/work
urllib3 @ file:///croot/urllib3_1680254681959/work
wcwidth==0.2.6
Werkzeug==2.2.3
yacs==0.1.8
zipp==3.15.0
